/* My Documents */
table {
  width: 100%;
}

.edit, .delete {
  font-size: larger;
  padding: 10px;
}

.button > i {
  user-select: none;
}

.cards {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#title, #fileName, #description {
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
}

.container-title {
  display: flex;
  gap: 10px;
}

.container-title > div {
  width: 100%;
}

.container-title > div > input {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

.filters {
  gap: 10px;
  margin-top: 10px;
}

.inner-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter > input {
  border: 1px solid rgb(193, 193, 193);
}
